/*------------------------------------------------------------------
Project:    Christmas Landing Page

[Table of contents]

MEDIA QUERIES
-------------------------------------------------------------------*/

/* MEDIA QUERIES */
@media ( max-width: 1024px) {
	#christmas_scene .layer-1 {
		background-image: url("../images/parallax-mobile/layer1.png");
		background-position: 36% bottom;
	}
	#christmas_scene .layer-2 {
		background-image: url("../images/parallax-mobile/layer2.png");
		background-position: center bottom;
	}
	#christmas_scene .layer-3 {
		background-image: url("../images/parallax-mobile/layer3.png");
		background-position: center bottom;
	}
	#christmas_scene .layer-4 {
		background-image: url("../images/parallax-mobile/layer4.png");
		background-position: center bottom;
	}
	#christmas_scene .layer-5 {
		background-image: url("../images/parallax-mobile/layer5.png");
		background-position: center bottom;
	}
}

@media ( max-height: 768px ) {
	#christmas_scene .layer-1 {
		background-image: url("../images/parallax-mobile/layer1.png");
		background-position: 36% bottom;
	}
	#christmas_scene .layer-2 {
		background-image: url("../images/parallax-mobile/layer2.png");
		background-position: center bottom;
	}
	#christmas_scene .layer-3 {
		background-image: url("../images/parallax-mobile/layer3.png");
		background-position: center bottom;
	}
	#christmas_scene .layer-4 {
		background-image: url("../images/parallax-mobile/layer4.png");
		background-position: center bottom;
	}
	#christmas_scene .layer-5 {
		background-image: url("../images/parallax-mobile/layer5.png");
		background-position: center bottom;
	}
}

@media (max-width: 1024px) and (orientation:portrait){
	#container #mail_pole{
		margin-left:-190px;
	}
}
@media (max-width:565px) and (orientation: portrait){
	#container #countdown_container{
		width: 100%;
		margin-left:0;
		left:unset;
		font-size:30px;
		text-align: center;
	}
	#container #countdown_container .countdown-globe::after{
		display: none;
	}
	#container #countdown_container .countdown-globe{
		padding-top:45px;
		padding-left:0;
		padding-right:0;
	}
	#container .merry-christmas-text{
		top: 180px;
		font-size: 30px;
	}
	#logos {
		width: 200px;
		height: 47px;
		top: 120px;
		margin-left: -100px;
	}
	#logos img {
		width: 200px;
		height: 47px;
	}
	#container #christmas_tree{
		bottom:55px;
	}
	form textarea{
		min-width: unset;
	}
}

@media (max-width: 420px) and (orientation:portrait){
	#container #countdown_container .countdown-globe{
		padding-top:30px;
	}
	#container .merry-christmas-text{
		font-size:30px;
	}
	#container #mail_pole {
		margin-left: -160px;
	}
}
@media (max-height:768px) and (orientation:landscape){
	#container #countdown_container{
		font-size:30px;
	}
	#container #countdown_container .countdown-globe{
		height:180px;
		padding-top:55px;
	}
	#container #countdown_container .countdown-globe::after{
		margin-left:-50px;
	}
	#container .merry-christmas-text{
		top: 225px;
		font-size:30px;
	}
	#logos {
		width: 200px;
		height: 47px;
		top: 150px;
		margin-left: -100px;
	}
	#logos img {
		width: 200px;
		height: 47px;
	}
}
@media(max-height: 600px) and (orientation:landscape){
	#container #countdown_container{
		font-size:20px;
	}
	#container #countdown_container .countdown-globe{
		height:165px;
		padding-top:55px;
	}
	#container #countdown_container .countdown-globe::after{
		margin-left:-46px;
	}
	#container .merry-christmas-text{
		top: 195px;
		font-size: 30px;
	}
	#logos {
		width: 200px;
		height: 47px;
		top: 140px;
		margin-left: -100px;
	}
	#logos img {
		width: 200px;
		height: 47px;
	}
}
@media (max-height:400px) and (orientation:landscape){
	#container #countdown_container{
		width: 300px;
		margin-left:0;
		left:unset;
		font-size:30px;
		text-align: center;
	}
	#container #countdown_container .countdown-globe::after{
		display: none;
	}
	#container #countdown_container .countdown-globe{
		padding-top:25px;
		padding-left:0;
		padding-right:0;
	}
	#container #christmas_tree{
		bottom:10px;
	}
	#container #mail_pole{
		bottom:10px;
	}
	#container .merry-christmas-text{
		font-size: 30px;
		padding-right: 10px;
		text-align: right;
		top: 25px;
	}
	#logos {
		top: 25%;
		width: 200px;
		height: 47px;
		margin-left:-100px;
	}
	#logos img {
		width: 200px;
		height: 47px;
	}
}
/* END MEDIA QUERIES */